<div id="editKeysDialog" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="SetKeys" method="post" id="editKeysForm">
                <div class="modal-header">
                    <span class="modal-title modal-title-large">Enter API keys for <span id="editKeysExchange"></span></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="exchange" id="exchangeInput" />
                    <div class="form-group">
                        <label for="publicKeyInput">Public key:</label>
                        <input name="publicKey" id="publicKeyInput" class="form-control" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="privateKeyInput">Private key (secret):</label>
                        <input name="privateKey" id="privateKeyInput" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Register keys</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>