<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Msv.AutoMiner.Rig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- To install SqLite libraries (System.Data.SQLite) under Linux:
  http://blog.wezeku.com/2016/10/09/using-system-data-sqlite-under-linux-and-mono/
  -->
  <connectionStrings>
    <add name="AutoMinerRigDbContext" providerName="System.Data.SQLite" connectionString="Data Source=autominer_rig.sqlite" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.107.0" newVersion="1.0.107.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.107.0" newVersion="1.0.107.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Msv.AutoMiner.Rig.Properties.Settings>
      <setting name="UseWatchdog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnixCudaLibraryPath" serializeAs="String">
        <value>/usr/local/cuda/lib64:/usr/local/cuda-9.1/lib64:/usr/local/cuda-9.0/lib64</value>
      </setting>
      <setting name="ShareTimeout" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="ElectricityKwhCostUsd" serializeAs="String">
        <value>0.052</value>
      </setting>
      <setting name="SystemPowerUsageWatts" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ProfitabilityQueryInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="LowestAverageGpuUsage" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LowestGpuUsageSwitchInterval" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="ProfitabilityQueryDispersion" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="TestModeMiningDuration" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="ControlCenterServiceUrl" serializeAs="String">
        <value>https://localhost:6284</value>
      </setting>
      <setting name="RootCertificateFileName" serializeAs="String">
        <value>rootCa.cer</value>
      </setting>
    </Msv.AutoMiner.Rig.Properties.Settings>
  </applicationSettings>
</configuration>