<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="false"
            errorStream="false"
            detectConsoleAvailable="true"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}">
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Info" foregroundColor="Green"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Debug" foregroundColor="White"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Trace" foregroundColor="Gray"/>
    </target>
    <target name="file" xsi:type="File"
            createDirs="true"
            fileName="Logs/log.txt"
            archiveFileName="Logs/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1048576"
            archiveDateFormat="yyyyMMdd"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="ColoredConsole"
            name="minerOutputConsole"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            detectConsoleAvailable="true"
            layout="${message}" />
    <target name="minerOutputFile" xsi:type="File"
            createDirs="true"
            fileName="Logs/miner_log.txt"
            archiveFileName="Logs/miner_log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1048576"
            archiveDateFormat="yyyyMMdd"
            layout="${message}" />
  </targets>

  <rules>
    <logger name="MinerOutput" minlevel="Debug" writeTo="minerOutputConsole" />
    <logger name="MinerOutput" minlevel="Debug" writeTo="minerOutputFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
