<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Msv.AutoMiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!-- Specify native DLL name mappings for Linux -->
  <!--
  <dllmap os="linux" dll="nvml" target="libnvidia-ml.so"/>
  -->
  <connectionStrings>
    <add name="AutoMinerDbContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=autominer_test;uid=root;password=root" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <Msv.AutoMiner.Properties.Settings>
      <setting name="ProfitabilityQueryDispersion" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="UseWatchdog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnixCudaLibraryPath" serializeAs="String">
        <value>/usr/local/cuda/lib64</value>
      </setting>
      <setting name="CurrencyChangeThresholdRatio" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TestModeMiningDuration" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="ProfitabilityQueryInterval" serializeAs="String">
        <value>00:35:00</value>
      </setting>
      <setting name="ShareTimeout" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="ElectricityKwhCostUsd" serializeAs="String">
        <value>0.052</value>
      </setting>
      <setting name="SystemPowerUsageWatts" serializeAs="String">
        <value>100</value>
      </setting>
    </Msv.AutoMiner.Properties.Settings>
  </applicationSettings>
</configuration>