@using Msv.AutoMiner.FrontEnd.Models.Shared
@model ConfirmModel
    
<div class="modal fade" data-result="false">
    <div class="modal-dialog modal-middle" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title modal-title-large">@Model.Title</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 alert-icon">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9">
                        @Model.Body
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $("button.btn-primary").click(function() {
                $("div.modal").data("result", true);
            });
        });
    </script>
</div>