@using Msv.AutoMiner.FrontEnd.Controllers
@model Msv.AutoMiner.FrontEnd.Models.Rigs.RigDisplayModel[]
   
@{ ViewBag.Title = "Rigs"; }    

@if (TempData[RigsController.RigsMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[RigsController.RigsMessageKey]
        </div>
    </div>
}

<h2 class="text-center">Rigs</h2>
<div class="pull-right div-table-actions">
    <a class="btn btn-info" asp-action="Create">
        <i class="glyphicon glyphicon-plus"></i> Add new rig...
    </a>
</div>    

<table class="table table-bordered table-striped data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>IP address</th>
            <th>Difficulty aggregation</th>
            <th>Market price aggregation</th>
            <th>Certificate serial</th>
            <th>Last heartbeat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="rigs-table">
    @foreach (var rig in Model.OrderBy(x => x.Name))
    {
        @Html.Partial("_RigRowPartial", rig)      
    }
    </tbody>
</table>