<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="Msv.AutoMiner.Common"/>
  </extensions>

  <targets>
    <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="false"
            errorStream="false"
            detectConsoleAvailable="true"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}">
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Info" foregroundColor="Green"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Debug" foregroundColor="White"/>
      <highlight-row backgroundColor="Black" condition="level == LogLevel.Trace" foregroundColor="Gray"/>
    </target>

    <target xsi:type="ColoredConsole"
            name="minerOutputConsole"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            detectConsoleAvailable="true"
            layout="${message}" />

    <target name="webTrafficFile" xsi:type="File"
            createDirs="true"
            fileName="Logs/web_log.txt"
            archiveFileName="Logs/web_log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="31457280"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="20"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}" />
    
    <target name="serviceFile" xsi:type="File"
            fileName="Logs/service_log.txt"
            createDirs="true"
            archiveFileName="Logs/service_log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1048576"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="50"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

    <target name="memoryBuffer" xsi:type="MemoryBuffer"
            bufferName="FullLogBuffer"
            size="80"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}" />
    <target name="errorMemoryBuffer" xsi:type="MemoryBuffer"
            bufferName="ErrorLogBuffer"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}" />
    
  </targets>

  <rules>
    <logger name="*LoggedWebClient" minlevel="Debug" writeTo="webTrafficFile" final="true" />
    <logger name="WebSocketJsonRpcClient" minlevel="Debug" writeTo="webTrafficFile" final="true" />
    <logger name="Microsoft.AspNetCore.*" minlevel="Debug" writeTo="serviceFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="memoryBuffer" />
    <logger name="*" minlevel="Error" writeTo="errorMemoryBuffer" />
  </rules>
</nlog>
