@using Msv.AutoMiner.Common.Helpers
@using Msv.AutoMiner.FrontEnd.Controllers
@using Msv.AutoMiner.FrontEnd.Models.Coins
@model CoinsIndexModel

@{ ViewBag.Title = "Coins"; }

@if (TempData[CoinsController.CoinsMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[CoinsController.CoinsMessageKey]
        </div>
    </div>
}

<h2 class="text-center">Coins</h2>
<div class="panel panel-default">
    <div class="panel-body">
        Current BTC rate: 1 BTC = <strong>$@ConversionHelper.ToFiatValue(Model.BtcUsdRate)</strong>
    </div>
</div>
<div class="pull-right div-table-actions">
    <a class="btn btn-info" asp-action="Create">
        <i class="glyphicon glyphicon-plus"></i> Add new coin...
    </a>
</div>
<table class="table table-bordered table-striped sticky-header">
    <thead>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Algorithm</th>
        <th>Height</th>
        <th>Difficulty</th>
        <th>Block reward</th>
        <th>BTC price</th>
        <th>Last updated</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="coins-table">
    @foreach (var coin in Model.Coins.OrderBy(x => x.Name))
    {
        @Html.Partial("_CoinRowPartial", coin)
    }
    </tbody>
</table>