@using Msv.AutoMiner.FrontEnd.Controllers
@model Msv.AutoMiner.FrontEnd.Models.Pools.PoolDisplayModel[]

@{ ViewBag.Title = "Pools";}


@if (TempData[PoolsController.PoolsMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[PoolsController.PoolsMessageKey]
        </div>
    </div>
}

<h2 class="text-center">Pools</h2>

<div class="pull-left">
    @await Component.InvokeAsync("HideZeroButton", PoolsController.ShowZeroValuesKey)
</div>

<div class="pull-right div-table-actions">
    <a class="btn btn-info" asp-action="CreateStratum">
        <i class="glyphicon glyphicon-plus"></i> Add Stratum pool...
    </a>
    <a class="btn btn-info" asp-action="CreateSolo">
        <i class="glyphicon glyphicon-plus"></i> Add solo-mining pool...
    </a>
    <a class="btn btn-info" asp-action="CreateCustom">
        <i class="glyphicon glyphicon-plus"></i> Add custom pool...
    </a>
</div>
<table class="table table-bordered table-striped data-table">
    <thead>
    <tr>
        <th>Coin name</th>
        <th>Pool name</th>
        <th>Fee</th>
        <th>Confirmed</th>
        <th>Unconfirmed</th>
        <th>Total hashrate</th>
        <th>Total workers</th>
        <th>Time to <abbr title="find">f***</abbr></th>
        <th>Last updated</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="pools-table">
    @foreach (var pool in Model.OrderBy(x => x.Coin.Name).ThenByDescending(x => x.Priority))
    {
        @Html.Partial("_PoolRowPartial", pool)
    }
    </tbody>
</table>