body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    margin-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.div-table-actions {
    margin-bottom: 5px;
}

th.column-actions {
    min-width: 95px;
}

.positive-balance {
    font-weight: bolder
}