body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    margin-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.div-table-actions {
    margin-bottom: 5px;
}

.wallet-address {
    overflow: hidden;
    max-width: 350px;
}

.wallet-address-narrow {
    overflow: hidden;
    max-width: 100px;
}

.table-total-caption {
    font-size: larger;
}

.modal-title-large {
    font-size: large;
}

.alert-icon i {
    font-size: xx-large;
    text-align: center;
    margin: 20px 40px 20px 0;
}

#throbber {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.5);
}

#throbber img {
    position: fixed;
    left: 50%;
    top: 50%;
}

.modal-middle {
    width: 450px;
}

.system-info-value {
    font-weight: bold
}

tr.now-mining {
    font-weight: bold
}

.margined-rows-container div.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.positive-amount {
    color: green;
}

.negative-amount {
    color: darkred;
}

.transaction-small {
    color: gray;
    font-size: 8pt;
}

.wallet-small {
    color: gray;
    font-size: 9pt;
    font-weight: bold;
}

i.fa, i.glyphicon {
    width: 1em;
    margin-left: 2px;
    margin-right: 2px;
}

ul.list-inline {
    margin-left: 4px;
    margin-right: 4px;
    white-space: nowrap;
    width: 100%;
}

ul.list-inline > li {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.btc-equivalent {
    font-size: 8pt;
    color: gray;
    margin-top: 4px;
}

div.padded {
    padding: 5px
}

.coin-price-table {
    font-size: 8pt;
    color: darkslategray;
    margin-left: 2px;
    margin-right: 2px;
}

.coin-price-table div {
    padding: 0 4px !important;
}